# VRP Vehicle Generator
Generate a CSV with **5 columns**: `id,vehicle_name,capacity,initial_cost,distance_cost`.

**How to use:**
1. Run the **Parameters** cell to set up the generator.
2. Run the **Generate** cell to create `vrp_vehicles.csv` in the same folder.

In [2]:
# === Parameters ===
NUM_VEHICLES = 7               # total vehicles to generate
SEED = 42                      # random seed

# Capacity range (inclusive)
CAPACITY_MIN = 10000
CAPACITY_MAX = 10000

# Cost ranges (you can change to match your BRP cost model)
INITIAL_COST_RANGE = (100_000, 100_000)   # e.g., IDR
DIST_COST_RANGE = (0,0)             # cost per distance unit

NAME_PREFIX = "Truck"          # e.g., 'Truck', 'Van', etc.

CSV_PATH = "Problems/GIB_vehicles.csv"  # output file name

In [3]:
# === Generate ===
import random
import pandas as pd
from pathlib import Path

random.seed(SEED)

def rand_int_range(a, b):
    return random.randint(int(a), int(b))

rows = []
for vid in range(1, NUM_VEHICLES + 1):
    vehicle_name = f"{NAME_PREFIX}-{vid:02d}"
    max_capacity = rand_int_range(CAPACITY_MIN, CAPACITY_MAX)
    initial_cost = rand_int_range(*INITIAL_COST_RANGE)
    distance_cost = rand_int_range(*DIST_COST_RANGE)
    rows.append({
        'id': vid,
        'vehicle_name': vehicle_name,
        'max_capacity': max_capacity,
        'initial_cost': initial_cost,
        'distance_cost': distance_cost
    })

df = pd.DataFrame(rows, columns=['id','vehicle_name','max_capacity','initial_cost','distance_cost'])

out_path = Path(CSV_PATH).resolve()
df.to_csv(out_path, index=False)
print(f"Saved {len(df)} rows to: {out_path}")
df.head()

Saved 7 rows to: /home/raka/NT-NSGA-II/Problems/GIB_vehicles.csv

   id vehicle_name  max_capacity  initial_cost  distance_cost
0   1     Truck-01         10000        100000              0
1   2     Truck-02         10000        100000              0
2   3     Truck-03         10000        100000              0
3   4     Truck-04         10000        100000              0
4   5     Truck-05         10000        100000              0